<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mahecha.nicolas.seguidorelca"
    android:versionCode="14"
    android:versionName="1.9" >


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="mahecha.nicolas.seguidorelca.SelfHostedGPSTrackerActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="mahecha.nicolas.seguidorelca.SelfHostedGPSTrackerService" />
        <activity android:name="mahecha.nicolas.seguidorelca.SelfHostedGPSTrackerPrefs" />
    </application>

</manifest>
